body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;  /* это 22.5 пикселя от fz15 */
    color: #585858;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 85px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header__inner {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    height: 100%;
    font-size: 15px;

}
.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.nav__link.active {
    background-color: #004AF2;
}

/* Intro */

.intro {
    margin-bottom: 30px;
    background: #000 url("../images/bg.png") no-repeat center / cover;

}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__text {
    margin-bottom: 50px;
    text-align: right;
}

.intro__countries {
    font-size: 15px;
    color: #fff;
}

.intro__title {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.intro__title-amp {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* bottom: 50px; */
    font-size: 170px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 900;
    line-height: 100px;
}

/*  FORM  */

.request-form {
    width: 100%;
    max-width: 400px;
    background-color: #004AF2;
    border-radius: 5px;
    overflow: hidden;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form__header {
    padding: 20px 30px;
    background: #033FC9;
    border-radius: 5px 5px 0px 0px;
}

.request-form__title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.request-form__text {
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.request-form__content {
    padding: 30px;
}

.form__group {
    margin-bottom: 30px;
}

.input {
    display: block;
    width: 100%;
    background: none;
    padding-left: 45px;
    padding-bottom: 12px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    transition: border-color 0.2s linear;
}

.input::placeholder {
    color: #FFFFFF;
}

.input:focus {
    outline: none;
    border-bottom-color: #FFFFFF;
}

.input--user {
    background: url("../images/person.svg") left 15px top no-repeat;
}
.input--phone {
    background: url("../images/call.svg") left 15px top 3px no-repeat;
}
.input--email {
    background: url("../images/mail.svg") left 15px top 5px no-repeat;
}


/*  BUTTON  */

.btn {
    padding: 11px 20px;
    font-family: 'PT Sans', sans-serif;
    background: #333;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    border-radius: 5px;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--orange {
    background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
}

/* Section Services */
.section {
    padding: 60px 0;
}
.services {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    padding: 30px 25px 50px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.services__main-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    color: rgba(44, 44, 44, 0.05);
    position: absolute;
    bottom: 13px;
    right: 30px;
    z-index: 1;
    pointer-events: none;
}
.services__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
}
.services__title {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #2C2C2C;
}
.services__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
}
.services__footer {
    margin-top: auto;
}
.services__link {
    display: inline-block;
    font-size: 15px;
    color: #004AF2;
    text-decoration: none;
    transition: color 0.2s linear;
}
.services__link:after{
    margin-top: 6px;
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: #004AF2;
    transition: width 0.2s linear;
}
.services__link:hover {
    color: #FF3E2F;
}
.services__link:hover:after {
    width: 100%;
    background-color: #FF3E2F;
}